# Terraform
infrastructure/*.tfstate
infrastructure/*.tfstate.backup
infrastructure/.terraform/
infrastructure/*.tfplan
infrastructure/terraform.tfvars

# Environment variables
.env
.env.*

# Node.js
node_modules/

# Java
backend/target/

# React
frontend/build/

# Certificates
*.pem
*.key